HELP.md
target/
!.mvn/wrapper/maven-wrapper.jar
!**/src/main/**/target/
!**/src/test/**/target/
.mvn/
mvnw
mvnw.cmd
.git/

### STS ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache

.env
cloud-storage-frontend/
minio_storage/
.gitattributes

.idea
*.iws
*.iml
*.ipr

